<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>InhaalExamens</title>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  
  <p>
    <ul>
      <% examens.forEach(function(exaam) { %>
        <li>
          <span>Student: <%= exaam.student %> </span> <br>
          <span> Examen: <%= exaam.examen %></span><br>
          <span> Reden: <%= exaam.reden %></span><br>
          <span> Date : <%= exaam.datum %></span><br>
          <form action='/inhaalexamens/delete' method='POST' onsubmit="return confirm('Bent U zeker?');">
            <span><input type='hidden' name ='_id' value='<%=exaam._id%>'></span> 
            <span><button type="submit">Delete</button></span>
           </form>
        </li>
      <% }) %>
    </ul>
  </p>

 

</body>
</html>